@use 'sass:color';

@use 'theme';

body {
	color: theme.$color;
	background-color: theme.$background;
}

/* custom selection color */
::-moz-selection {
	background: theme.$selection-background;
	color: theme.$selection-color;
	text-shadow: none;
}
::selection {
	background: theme.$selection-background;
	color: theme.$selection-color;
	text-shadow: none;
}

a {
	color: theme.$link;
}
a:visited {
	color: theme.$link-visited;
}
a:hover {
	color: theme.$link-hover;
}

button {
	border: none;
	padding: theme.$spacing;
}

button:hover,
button:active {
	background: theme.$background-deep;
}

a:focus,
button:focus {
	@include theme.outline;
}

button:active {
	color: theme.$background-deep;
	background: theme.$highlight;
}

input {
	&[type='text'],
	&[type='search'] {
		color: theme.$color;
		border: 1px solid theme.$background-deep;
		background-color: theme.$background;
		padding: theme.$spacing-thin;
		outline: none;

		&:focus {
			@include theme.outline;
		}
	}
}

/* Scrollbar */

$scroll-color-1: color.scale(theme.$background-fore, $lightness: 10%, $alpha: -50%);
$scroll-color-2: color.scale($scroll-color-1, $lightness: -20%);

$scroll-active-1: color.scale($scroll-color-1, $lightness: 30%);
$scroll-active-2: color.scale($scroll-active-1, $lightness: -20%);

::-webkit-scrollbar {
	width: 13px;
	height: 13px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(13deg, $scroll-color-2 14%, $scroll-color-1 64%);
	border-radius: theme.$radius;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(13deg, $scroll-active-2 14%, $scroll-active-1 64%);
}
::-webkit-scrollbar-track {
	transition: 0.5s;
	background: color.scale(theme.$background-deep, $lightness: -50%);
	border-radius: theme.$radius;
	box-shadow: inset 7px 10px 12px color.scale(theme.$background-deep, $lightness: -60%);
}
