@use 'sass:color';
@use '../css/theme';

input {
	padding: theme.$spacing;
	margin: theme.$spacing;

	$border-color: color.scale(theme.$background-deep, $lightness: -20%);

	font-size: 1.3rem;
	border: 1px solid $border-color;
	color: theme.$color;
	background: theme.$background-deep;
	outline: none;

	&:focus {
		background: color.scale(theme.$background-deep, $lightness: 2%);
	}
}

.dict-view {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 0; // prevent parent flexbox overflow

	.input-toolbar {
		display: flex;
		flex-direction: row;

		& > input {
			flex: 1;
		}

		button {
			margin-right: theme.$spacing;
			font-size: 0.9em;
			width: 50px;
		}
	}
}

.stroke-order {
	position: fixed;
	right: 32px;
	bottom: 32px;

	background: color.change(theme.$background-deep, $alpha: 0.5);
	padding: theme.$spacing;

	font-family: stroke-order;
	font-size: 10em;
	border: 1px solid color.scale(theme.$background-deep, $lightness: -50%);
}
