@use 'sass:color';
@use '../css/theme';

.subtitle-view {
	overflow: auto;
	font-size: 1.5rem;
	cursor: default;
	padding: theme.$spacing;

	background-color: theme.$background-deep;

	$subtitle-entry-color: theme.$background;

	p {
		padding: theme.$spacing-thin;
	}

	.subtitle-entry {
		display: flex;
		flex-direction: row;
		padding: theme.$spacing - 2px;

		border: 2px solid $subtitle-entry-color;
		border-radius: theme.$radius;
		background-color: $subtitle-entry-color;

		&:not(:last-of-type) {
			margin-bottom: theme.$spacing;
		}

		&:last-of-type {
			margin-bottom: 500px;
		}

		.subtitle-text {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.time-label {
			color: theme.$color-ui-light;
			font-family: theme.$numeric-font;
			flex: 0 0;
			font-size: 0.9rem;
			padding-left: theme.$spacing;

			user-select: none;

			display: flex;
			flex-direction: column;
			justify-content: center;

			span {
				width: 5rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				small {
					font-size: 60%;
				}
			}
		}

		&:not(:hover) .popup {
			visibility: hidden !important;
		}

		.subtitle-toolbar {
			flex: 0;

			& > button:not(:hover) {
				color: color.change(theme.$color, $alpha: 0.5);
			}

			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 0.8rem;

			button {
				width: 2rem;
				margin-bottom: 2px;
			}

			.menu {
				display: flex;
				width: 2rem;
			}

			.popup {
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				position: fixed;
				background: color.scale(theme.$background-fore, $alpha: -20%);
				padding: 2px;

				button {
					margin: 0;
					&:hover {
						background: color.scale(theme.$background-deep, $alpha: -20%);
					}
				}

				.separator {
					display: block;
					width: 1px;
					height: 1.3rem;
					background-color: color.change(theme.$color, $alpha: 0.2);
					margin: 0 theme.$spacing 0 theme.$spacing;
				}
			}
		}
	}

	// Subtitle entry toolbar
	& {
		.subtitle-entry {
			.subtitle-toolbar {
				opacity: 0;
				transition: opacity 100ms ease;
			}
		}
	}

	&:not(.disable-hover) {
		.subtitle-entry:hover {
			border-color: color.scale($subtitle-entry-color, $lightness: 50%);

			.subtitle-toolbar {
				opacity: 1;
			}
		}
	}

	&.disable-hover {
		.popup {
			visibility: hidden !important;
		}
	}
}
